<% layout('layouts/boilerplate') %>
<% layout('layouts/boilerplate') %> 
<div class="container d-flex justify-content-center align-items-center mt-5">
                <div class="card" style="width: 25rem;">
                    <div class="card-header">
                        <h1>Register</h1>
                    <ul class="list-group list-group-flush">
                        <form action="/register" method ="POST" novalidate class='validated-form'>
                            <div class='mb-3'>
                                <label class='form-label' for ="username">Username:</label>
                                <input class='form-control' type="text" id="username" name="username" 
                                placeholder="username" required>
                                <div class='valid-feedback'>Looks good!!</div>
                            </div>
                            <div class='mb-3'>
                                <label class='form-label' for ="email">Email:</label>
                                <input class='form-control' type="text" id="email" name="email" 
                                placeholder="email" required>
                                <div class='valid-feedback'>Looks good!!</div>
                            </div>
                            <div class='mb-3'>
                                <label class='form-label' for ="password">Password:</label>
                                <input class='form-control' type="password" id="password" name="password" 
                                placeholder="password" required>
                                <div class='valid-feedback'>Looks good!!</div>
                            </div>
                            <div class='mb-3'>
                            <button class="btn btn-success">Register</button>
                            </div>
                        </form>
                    </ul>
                  </div>
                </div>
</div>
